body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #2c3e50;
}

p {
    color: #555;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}
container {
    margin-bottom: 50px;
}

.section {
    margin: 40px auto;
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}
.contact-btn {
    padding: 12px 25px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: red !important;
    transform: scale(1.05);
    cursor: pointer;
}